*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-primary-button: linear-gradient(
    90deg,
    #4a46ef 0%,
    #387fc1 48.96%,
    #36bccc 100%
  );
  --color-primary-button-inverted: linear-gradient(
    90deg,
    #36bccc 100%,
    #387fc1 48.96%,
    #4a46ef 50%
  );
  --color-login-bg: linear-gradient(104.36deg, #8af04b 5.57%, #0f54d7 89.81%);
  --color-secondary: #36adbb;
  --color-navigation: linear-gradient(90.26deg, #9cbf2b 0.22%, #36adbb 50.22%);
  --color-primary-dark-a: #111111;
  --light-grey: #e3e3ec;
  --color-primary-green: #36adbb;
  --color-primary-white: #ffffff;

  --shadow-light: 0 2.4rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark: 0 2.6rem 5.5rem rgba(0, 0, 0, 0.06);
}

html {
  font-size: 62.5%; //1rem = 10px so 10px/16px = 0.625 => 62.5%
  scroll-behavior: smooth;
}

body {
  font-family: "Questrial", "sans-serif";
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  font-style: normal;
  overflow: hidden;
  // max-width: 100%;
}

::selection {
  background-color: var(--color-secondary);
  color: #fff;
}
