@use  './../../Sass/base/typography.scss';
@use  './../../Sass/base/button.scss';

.overflow2 {
    overflow-y: scroll !important;
    height: 93vh;
    @media screen and (max-width: 894px) {
          margin-right: -8.5vw;
    }
    @media screen and (max-width: 768px) {
       width: 90%;
       margin-right: -5vw;
    }
    &::-webkit-scrollbar {
      width: 0 !important;
      background: transparent !important; 
    }
  }

.dropdown-toggle{
     width: 70vw;
    border-radius: 20px;
    margin-top: 2rem; 

    @media screen and (min-width: 1366px) {
        margin-left: 1.7vw;
    }

    @media screen and (max-width: 1054px) {
        width: auto;
    }

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
 
}

.btn-success{
    background:  #F2F5FE !important;
    border: none !important;
    transition: all .3s ease-in-out;

    &:focus{
        border: 1px solid #484BEB !important;
        box-shadow: 2px #484BEB;
    }

   
}

.approved-dropdown{
    display: flex;
    align-items: center;
     justify-content: space-between;
     position: relative;
    
     @media screen and (min-width: 1366px) {
         margin-left: 3vw;
     }

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
       margin-left: 1.2rem;
      }
    
    &-h2{
        @extend .h2-secondary;
        // padding: 1rem;
        font-size: 12px;
        margin-left: 0.8rem;
        
       

        
        @media screen and (max-width: 1054px) {
            font-size: 14px;
        }
       
    }
    &-h3{
        font-family: Questrial;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color:  #616576;
        ;
        @media screen and (max-width: 1054px) {
            font-size: 12px;
        }
        }
    

    &-img{
        display: flex;
        justify-content: space-around;

        &-svg{
           padding: 2rem;
        }
    }
}

.dropdown-item{
   width: 70vw;
    border-radius: 20px;
    transition: all 3s ease-in;

    // @media screen and (max-width: 900px) {
    //     width: 60vw;
    // }

    // @media screen and (max-width: 1054px) {
    //     width: 60vw;
    // }
   
}

.dropdown-menu{
    border: none !important;
}



.home{
    display: flex;
    margin-left: -2vw;
    


    @media screen and ( max-width: 866px) {
        margin-left: -3vw;
        text-align: justify;
    }

    @media screen and ( max-width: 880px) {
       display: block;
    }

    @media screen and (max-width: 768px) {
        padding: 0.5rem;
 
        margin-left: 0.5vw;
    }

 

    &-h2{
        @media screen and (max-width: 900px ) {
            font-size: 26px;
        }
        @media screen and (max-width: 660px ) {
            font-size: 20px;
        }
    }

    &-h3{
         @extend .h3-secondary;
        font-size: 16px !important;  
        line-height: 1.8 !important; 
        text-align: justify; 
        @media screen and (max-width: 660px ) {
            font-size: 14px;
            // margin-left: -5vw;
        }
       
    }
    &-btn{
        margin-left: auto;
        @extend .button-register;
        width: auto;
        font-size: 14px;
        height: 5.4vh;
        font-weight: 400;
       margin-top: 1vh;
       padding: 0 1rem;
       

        @media screen and (max-width: 913px) {
            font-size: 10px; 
        }

        @media screen and (max-width: 768px) {
           display: none;
        }

        @media screen and (max-width: 873px) {
            width: 20vw;
            margin-left: 2vw;
        }
        
    }
}

.item{
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;

    @media screen and (max-width: 1150px) {
        margin-left: 1vw;
    }

    @media screen and (max-width: 1306px) {
        margin-left: 7vw;
    }

    @media screen and (max-width: 900px) {
      margin-left: 3vw;
    }
    &-1{
        &-p{
        font-family: Questrial;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #616576;

        @media screen and (max-width: 1306px) {
             font-size: 14px;
        }

    &-2{
    font-family: Questrial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#111111;
    @media screen and (max-width: 1306px) {
        font-size: 14px;
   }
}

 
        }
    }
    &-2{
         
    }
    &-3{}
}
.button-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-btn{
        height: 32px;
        width: 94px;
        border-radius: 10px;
        padding: 4px, 16px, 4px, 16px;
        background: #F2F5FE;
        margin: 0.5rem;
        border: none;
        color: #484BEB;

&-large{
    color: #484BEB;
    border: 1px solid #484BEB;
    @extend .button-login;
    font-size: 10px;
    width: auto;
}}
}
.dropdown-item{
    @media screen and (max-width: 768px) {
        display: none;
    }
}
 .view-igs-btn{
    background: #484BEB;
    border-radius: 100px;
    padding: 8px;
    width: auto;
    color: #fff;
    width: 30vw;
    border: none;
    z-index: 20;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4vh;
    font-family: Questrial;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
 }