@use './../Sass/base/typography.scss';
@use './../Sass/base/button.scss';

.overflow {
    overflow-y: scroll !important;
    height: 93vh;
    
  
    &::-webkit-scrollbar {
      width: 0 !important;
      background: transparent !important; 
    }
  }
  

.home{
    padding: 3rem;
    max-width: 75vw;

    @media screen and (max-width: 768px) {
       margin: auto;
    }
    

    &-h2{
        @extend .h1;
        font-size: 32px;
        font-weight: 600;       
    }

    &-h3{
        @extend .h3;
    }
}

.resources{
      display: flex;

      @media screen and (max-width: 900px) {
          flex-direction: column;
      }
         &__wrapper{
         background: #E3E3EC;
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         min-width: 20vw;
         margin: 1rem;
         border-radius: 10px;
         padding: 1.5rem;
         box-shadow: 5px 0px 13px rgba(0, 0, 0, 0.1);

         &:hover{
             cursor: pointer;
             box-shadow: 15px 0px 23px rgba(0, 0, 0, 0.1);
          

         }

        &-p1{
        justify-self: flex-start;
        @extend .h3;
 
       }
    &-p2{
    justify-self: flex-end;
    @extend .h2;
    font-weight: 900;
}
 }
}

.about{
padding: 1rem;
width: 67vw;
    &-btn{
@extend .button-register;
width: 16vw;
@media screen and (max-width: 768px) {
    width: 36vw;
    margin: auto;
 }
    }
    &-p{
        @extend .h3-secondary;
        font-size: 16px;
        line-height: 2
    }

    &-h2{
        @extend .h2;
        font-size: 18px;
        font-weight: 600;
    }
   }
